<!DOCTYPE html>
<html>
<!-- DynDNS puts us in an frame, for some reason. Break that. -->
<script type="text/javascript">
	if (top != self) { top.location.replace(self.location.href); }
</script>
	<head>
		<title>VNA Demo</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% block header %}{% endblock %}
	</head>
	<body>
		<div id='segment_container'>
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="/">AKELA Web-OpenVNA</a>
					</div>
					{% block navbar_extra %} {% endblock %}

				</div>
			</nav>
			<div id='segment_body'>
				{% block content %}{% endblock %}
			</div>
		</div>



	</body>

	{% assets "css_base" %}
		<link href="{{ ASSET_URL }}" rel="stylesheet" media="screen">
	{% endassets %}
	{% assets "js_base" %}
		<script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}
	{% block footer %}{% endblock %}
</html>
